<!DOCTYPE html>
<html>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="https://icons.iconarchive.com/icons/pauloruberto/custom-round-yosemite/256/Bitcoin-icon.png">
    <title>Crypto Tracker</title>

    <div class="topnav">
        <a class="active" href="{{url_for('home_page')}}">Home</a>
        <a href="{{url_for('add_user.create_user')}}">Create Account</a>
        <a href="{{url_for('user_api.api_home')}}">Web API</a>
    </div>
    <body>
    <h4 style="color:white">Welcome to Crypto Tracker! Here, you will be able to view various Cryptocurrencies and also be able to track them. Create an account or login below to get started! </h4>
       <h1>Login</h1>
     <form method="POST">
        <div class="login">
             <b> {{ form.email_username.label }} </b>
             <br><br>
             {{ form.email_username(size=40) }}
             <br><br>
             <b> {{ form.password.label }} </b>
             <br><br>
             {{ form.password(size=40) }}
            <br><br>
            <input type="submit" value="Login">
         </div>
    </form>
    <h3 style="color:red">{{login_fail}}</h3>
<br><br>

</body>
</html>