<!DOCTYPE html>
<html>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <title>Crypto Tracker</title>

    <div class="topnav">
        <a class="active" href="{{url_for('home_page')}}">Home</a>
        <a href="{{url_for('add_user.create_user')}}">Create user</a>
        <a href="{{url_for('user_api.api_home')}}">Web API</a>
    </div>
    <body>
       <h1>Login</h1>
     <form method="POST">
        <div class="login">
             {{ form.email_username.label }}
             <br>
             {{ form.email_username }}
             <br><br>
             {{ form.password.label }}
             <br>
             {{ form.password }}
            <br><br>
            <input type="submit">
         </div>
    </form>
    <h3 style="color:white">{{login_fail}}</h3>
<br><br>

</body>
</html>