<!DOCTYPE html>
<html>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="https://icons.iconarchive.com/icons/pauloruberto/custom-round-yosemite/256/Bitcoin-icon.png">
    <div class="topnav">
        <a href="{{url_for('home_page')}}">Home</a>
        <a class="active" href="{{url_for('add_user.create_user')}}">Create Account</a>
        <a href="{{url_for('user_api.api_home')}}">Web API</a>
    </div>
    <title>Create Account</title>

    <body style="color:white">
    <h1>Create Account</h1>

     <form method="POST" enctype="multipart/form-data">
         <div class="create_user">
             {{ form.email.label }}
             <br><br>
             {{ form.email }}
             <br><br>
             {{ form.username.label }}
             <br><br>
             {{ form.username }}
             <br><br>
             {{ form.password.label }}
             <br><br>
             {{ form.password }}
             <br><br>
             Profile Picture (Optional): <br><br> <input type="file" name="filename">
             <br><br>
             <input type="submit" name="submit_form" value="Submit">
         </div>
         {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                <h3 style="color:white"> {{ message }} </h3>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </form>
</body>
</html>
