<!DOCTYPE html>
<html>
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="https://icons.iconarchive.com/icons/pauloruberto/custom-round-yosemite/256/Bitcoin-icon.png">
    <div class="topnav">
        <a href="{{url_for('home_page')}}">Home</a>
        <a class="active" href="{{url_for('add_user.create_user')}}">Create Account</a>
        <a href="{{url_for('user_api.api_home')}}">Web API</a>
    </div>
    <title>Create Account</title>

    <body style="color:white">
    <h1>Create Account</h1>

     <form method="POST" enctype="multipart/form-data">
         <div class="create_user">
             <b> {{ form.email.label }} </b>
             <br><br>
             {{ form.email(size=40) }}
             <br><br>
             <b> {{ form.username.label }} </b>
             <br><br>
             {{ form.username(size=40) }}
             <br><br>
             <b> {{ form.password.label }} </b>
             <br><br>
             {{ form.password(size=40) }}
             <br><br>
             Profile Picture (Optional): <br><br> <input type="file" name="filename">
             <br><br>
             <input type="submit" name="submit_form" value="Create Account">
         </div>
         {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                <h3 style="color:red"> {{ message }} </h3>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% if created %}
            <h3 style="color:green"> {{ created }} </h3>
        {% endif %}
    </form>
</body>
</html>
