<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" type="image/x-icon" href="https://icons.iconarchive.com/icons/pauloruberto/custom-round-yosemite/256/Bitcoin-icon.png">
<div class="topnav">
    <a href="{{url_for('home_page')}}">Home</a>
    <a href="{{url_for('add_ticker_page.add_ticker')}}">Edit Crypto List</a>
    <a class="active" href="{{url_for('help.ticker_help')}}">Help</a>
    <a href="{{url_for('subscribe.subscribe')}}">Subscribe</a>
    <a href="{{url_for('user_api.api_home')}}">Web API</a>
    <a href="{{url_for('logout')}}">Logout</a>
    <img class="rounded-circle article-img" src="{{ user_avatar }}" id="img">
    <b>Username: {{user}}</b>
</div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="color:white">
    <h1> Confused on how to get the Crypto you want to track? Follow these steps below.</h1>
    <h2> Step 1: </h2> <p> Visit <a style="color:green" href="https://messari.io/" target="_blank">Messari</a></p>
    <h2> Step 2: </h2> <p> Locate this section on the bottom left of the screen: </p>
    <p> <img alt="Messari Website" src="https://i.ibb.co/2cVTXj6/Screen-Shot-2022-03-05-at-13-17-47.jpeg" height="500px" width="500px"> </p>
    <h2> Step 3: </h2> <p> Click any one of these Cryptos or click on the next page to see more and find one you want to track. </p>
    <h2> Step 4: </h2> <p> After finding an asset you want to track, click on it. </p>
    <h2> Step 5: </h2> <p> Check the URL. You should see something like "https://messari.io/asset/xrp". In this case, the ticker name is "xrp" (the last part of the URL). </p>
    <h2> Step 6: </h2> <p> Copy the ticker name and head back to "Edit Crypto List" and paste it into the field. </p>
    <h2> Step 7: </h2> <p> Click "Fetch"! </p>
</body>
</html>