<!DOCTYPE html>
<html>
<body>
    <title>Login Page</title>
    <h1>This is the main Login</h1>
    <div class="container">
        <p>
             <form action = "/login/" method="POST">
                <textarea rows="1" cols="60" name="text_email" placeholder="Enter email"></textarea>
                <br>
                <textarea rows="1" cols="60" name="text_password" placeholder="Enter password"></textarea>
                <input type="submit">
            </form>
        </p>
    </div>

</body>
</html>