<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web API</title>
</head>
<link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" type="image/x-icon" href="https://icons.iconarchive.com/icons/pauloruberto/custom-round-yosemite/256/Bitcoin-icon.png">
<div class="topnav">
    <a href="{{url_for('home_page')}}">Home</a>
    <a class="active" href="{{url_for('user_api.api_home')}}">Web API</a>
</div>
<body style="color:white">
    <h4>
    Welcome to our Web API! This is a simple API which supports GET requests. For now there is only one endpoint supported.
    With this endpoint, you can get information about a user by requesting the email OR the username of an account.
    <br><br>The format of the GET requests looks like this:
    <br><br>GET http://program5-env.eba-6cvwcsgc.us-west-1.elasticbeanstalk.com/api/v1/information/{EMAIL | USERNAME}
    <br><br>For example: GET http://program5-env.eba-6cvwcsgc.us-west-1.elasticbeanstalk.com/api/v1/information/dimpsey<br><br>
    The information you get back for a successful 200 response will look something like this:
    <pre>
        <code style="font-size:15px">
{
    "status_code": 200,
    "tracked_cryptos": {
        "BTC": "https://www.messari.io/asset/BTC",
        "ETH": "https://www.messari.io/asset/ETH",
        // ... more cryptos
    },
    "user_info": {
        "email": "email@gmail.com",
        "pfp": "https://bucket.s3.us-west-1.amazonaws.com/pfp.jpeg",
        "username": "username"
    }
}
        </code>
    </pre>
        Note that there is also a 404 response for an account that does not exist.
        <br><br>The next step is to add endpoints for programmatically adding Cryptos to your user list without
        interacting with the UI (a POST request)!
    </h4>
</body>
</html>